
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@font-face {
  font-family: "FireyeHeadline";
  src:url(../fonts/FireyeGF_3_Headline.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "GeosansLight";
  src:url(../fonts/GeosansLight.ttf);
}
@font-face {
  font-family: "FireyeRegular";
  src:url(../fonts/FireyeGF_3_Regular.ttf);
}
@font-face {
  font-family: "FireyeLight";
  src:url(../fonts/FireyeGF_3_Lite.ttf);
}
@font-face{
  font-family: "Avenir";
  src:url(../fonts/Avenir.ttc);
  font-weight: bold;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.hidden{
  display:none;
}
h1{
  margin-top: 0px;
  font-family: "FireyeHeadline";
}
p{
  font-family: "GeosansLight";
}
img {
  max-width: 100%;
}
.headline{
opacity:0;
margin-top: 0px;
}
nav{
  width: 100%;
  padding-top: 35px;
  position: fixed;
  z-index: 99;
  top:0px;
  height:95px;
  background-color: black;
  ul{
    margin:0;
  }
  li{
  font-family: "GeosansLight";
  color:white;
  display:inline-block;
  padding:5px;
  text-align: center;
  }
  img{
    position: relative;
    max-height: 75px;
    bottom:30px;
  }
  a,a:visited{
    color:inherit;
    cursor: pointer;
  }
}
#menu-icon{
  display:none;
}
.home-banner{
  max-width: 1200px;
  // background-attachment: fixed;
  margin: 70px auto 0 auto;
  width: 100%;
  padding:150px 0px;
  background-color: #000;
  background-image: url('../images/ladm_1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h1{
    position: relative;
    top:0;
    max-width: 90%;
    margin: 0 auto;
    font-size: 6rem;
    color:white;
    text-align: center;
  }
}
.social-icons{
  p{
    text-align: center;
    color:#FFF;
  }
}
.contact-banner, .recital-banner{
  background-attachment: fixed;
  height:450px;
  width: 100%;
  max-width: 1200px;
  padding:300px 0px;
  margin:0 auto;
  background-image: url('../images/contact_bg.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  h1{
    margin-top: 0px;
    font-size: 45pt;
    color:white;
    text-align: center;
  }
}
.contact-info{
  text-align: center;
  p{
    padding: 25px 15px;
    margin: 0 auto;
    font-size: 15pt;
  }
  h5{
    font-family: "Avenir";
    font-weight: Heavy;
    font-size: 20pt;
    margin: 25px auto 0px auto;
    max-width: 50%;
    min-width: 40%;
  }
  span{
    font-family: "Avenir";
    font-size: 12pt;
    display: block;
    margin: 0 auto;
    max-width: 50%;
    min-width: 40%;
  }
}

.recital-banner{
  background-image: url('../images/SSTORM_012074.png');
}
.recital-info{
  font-family: "FireyeLight";
  background-color: black;
  color:white;
  padding: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  h3{
    margin-top: 50px;
    max-width: 80%;
    margin: 0 auto;
  }
}

.email-form{
  input{
    width: 50%;
  }
}
.about{
  background-color: black;
  padding: 10%;
  h1{
    color:white;
    text-align: center;
    margin:0 auto;
  }
  p{
    margin-top: 20px;
    color:white;
    text-align: center;
  }
}
.circle{
  position: relative;
  overflow: hidden;
  border-radius: 500px;
  max-width:80%;
  min-width:200px;
  height:100%;
  background-color:white;
  margin: 25px auto;
  -webkit-box-shadow: -2px 4px 45px -2px rgba(255,255,255,0.81);
  -moz-box-shadow: -2px 4px 45px -2px rgba(255,255,255,0.81);
  box-shadow: -2px 4px 45px -2px rgba(255,255,255,0.81);

  img{
    width:100%;
    height:100%;
  }

  h3{
    position: absolute;
    top:-200px;
    padding:0px 15px;
    font-size: 1.5em;
    text-align: center;
    color:#000;
    font-family: "FireyeHeadline";
    background-color: rgba(255,255,255,0.7);
  }
}
.circle:hover{
   h3{
  animation-name: fallin;
  animation-duration: 500ms;
  top:40px;

  }
}
#stage-bg{
  padding-top: 75px;
  height:350px;
  width:100%;
  background-image: url(../images/7.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  h4{
    font-family: "FireyeLight";
    text-align: center;
    color:white;
  }
  img{
    width:75px;
    margin-top:30px;
  }
  img:nth-child(2){
    width:15%;
  }
}
#logo-lg{
  display: block;
  width:70%;
  margin: 0 auto;
}
#zen{
  padding-top: 50px;
  height:300px;
  background-color: black;
  font-size: 12pt;
  p{
    max-width: 60%;
    margin: 0 auto;
    color:white;
    text-align: center;
  }
  h4{
    font-family: "GeosansLight";
    padding-top: 25px;
    color:white;
    text-align: center;
    border: solid 1px white;
    height:75px;
    width:325px;
    margin:35px auto;
  }
}
#zen-btn{

}
#testimony{
  height:400px;
  font-family: "GeosansLight";
  font-size: 15pt;
  background-image: url(../images/SSTORM_013099.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color:white;
  padding-top:100px;
  text-align: center;
  p{
    max-width: 800px;
    margin: 0 auto;
  }
  .title{
    display: inline-block;
  }
}
.tour-heading{
  color: white;
  margin-top: 0px;
  padding: 50px;
  background-color: black;
  text-align: center;
}
.tour-details{
  color:white;
  background-image: url(../images/match.png);
  padding: 150px 0;
  background-position: top;
  background-size: cover;
  text-align: center;
  img{
    vertical-align: middle;
    max-width: 80%;
  }
  table{
    font-size: 18px;
    font-family: "GeosansLight";
    line-height: 24px;
  }
  td{
    padding:5px;
    border: solid 1px #FFF;
  }
  td:nth-child(2){
    text-align: center;
  }
  tr:nth-child(odd){
    background-color: rgba(255,255,255,0.2);
  }
  tr:nth-child(even){
    background-color: rgba(0,0,0,0.2);
  }
  h1{
    font-size: 3rem;
    margin: 0 auto;
  }
  h2{
    font-family: "GeosansLight";
  }
}
footer{
  padding-top: 30px;
  background-color: black;
  height: 150px;
  h5{
    font-size: 14pt;
    width:50%;
    color:white;
    font-family: "GeosansLight";
    margin: 0 auto 15px auto;
    text-align: center;
  }
  img{
    max-width: 35px;
    display: block;
    margin:0 auto;
  }
}
.gallery{
  background-color: black;
  padding-top: 50px;
}

.orders{
  text-align: center;
   h1{
    margin-top: 200px;
    font-size: 6rem;
  }

  p{
    font-size: 2.5rem;
  }
}
@keyframes fallin{
0%{
  top:-200px;
}
100%{
  top:40px;
}
}
////////////////////// Media Queries/////////////////
@media (max-width:860px){

.home-banner{
  h1{
    font-size: 7vw !important;
  }
}
}
@media (max-width:767px) {
  #menu-icon{
    display:block !important;
    padding-bottom: 15px;
    padding-left: 5px;
  }
  nav img{
    position: static !important;
    bottom:200px;
  }
  .logo-li{
    display: none;
  }
  nav{
    padding-top: 15px !important;
    height:auto !important;
  }
  nav li:last-child{
    padding-bottom: 20px;
  }
  .main-nav{
    display:none;
  }
  #testimony{
  padding: 15px;
  font-size: 11pt !important;
  }
  .home-banner, .recital-banner,.contact-banner{
    padding: 100px 0px;
    margin-top: 50px !important;
    h1{
      font-size: 4rem !important;
    }
  }
  #stage-bg{
    height:300px !important;
  }
  .recital-info{
    padding: 20px;
    p{
      max-width: 80% !important;
      font-size: 3.5vw !important;
    }
  }
  .tour-heading{
    h1{
      font-size: 7vw !important;
    }
  }
  .contact-img{
    padding-left: inherit !important;
    padding-right: inherit !important;
  }
}
